---
layout: default_sidebar
title: Documentation
about: Developer's guide to Flika
---
<style type="text/css">

#sticky {
  padding-top:10px;
  padding-left:30px;
  overflow:auto;
  transition: none;
  will-change: transform;
  z-index: 102;
}

.sidebar {
  float: left;
  top: 20px;
  left: 20px;
  padding: 10px 5px 10px 10px;
}

</style>
<body>
  <div class="tut-container">
    <div id="catcher">
    </div>
    <div id="sticky">
      <div class="sidebar">
        <ul>
          {% for category in site.categories %}
            <li>
              <strong>{{ category | first }}</strong>
              <ul>
              {% for tutorials in category %}
                {% for tutorial in tutorials %}
                  <li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
                {% endfor %}
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content">
      <div tabindex="-1" id="notebook" class="border-box-sizing">
      <ul>
        {% for tut in site.posts %}
            <li>
            
              <div class="container" style="margin-left:300px" id="notebook-container">
              {{ tut.content }}
              </div>
            </li>
          {% endfor %}
      </ul>
    </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
            function isScrolledTo(elem) {
                var docViewTop = $(window).scrollTop(); //num of pixels hidden above current screen
                var docViewBottom = docViewTop + $(window).height();
     
                var elemTop = $(elem).offset().top; //num of pixels above the elem
                var elemBottom = elemTop + $(elem).height();
     
                return ((elemTop <= docViewTop));
            }
     
            var catcher = $('#catcher');
            var sticky = $('#sticky');
     
            $(window).scroll(function() {
                if(isScrolledTo(sticky)) {
                    sticky.css('position','fixed');
                    sticky.css('top','0px');
                }
                var stopHeight = catcher.offset().top + catcher.height();
                if ( stopHeight > sticky.offset().top) {
                    sticky.css('position','absolute');
                    sticky.css('top',stopHeight);
                }
            });
        });
    </script>