---
layout: default
title: Tutorials
about: How to use Flika
---

<style type="text/css">


/* Sidebar Menu */
.ui.sidebar {
  position: fixed;
  top: 300;
  left: 50;
  height: 60%;
  padding-left: 10px;
  padding-top: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: none;
  transition: none;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  z-index: 102;
}

/*--------------
    Coupling
---------------*/

.ui.sidebar.menu .item {
  border-radius: 0em !important;
}

</style>

<body>
	<div class="ui sidebar inverted vertical menu">
		{% for category in site.categories %}
		  <li>
		    <strong>{{ category | first }}</strong>
		    <ul>
		    {% for tutorials in category %}
		    	{% for tutorial in tutorials %}
		    		<li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
		    	{% endfor %}
		    {% endfor %}
		    </ul>
		  </li>
		{% endfor %}
	</div>

	<section id="map-section">
        <div class="container">
			<ul>
				{% for tut in site.tutorials %}
			    	<li>
			      	{{ tut.content }}
			    	</li>
			  	{% endfor %}
			</ul>
		</div>
	</section>

</body>