---
layout: default
title: Documentation
about: Developer's guide to Flika
---
<body>
<link href="/static/css/notebook.css" rel="stylesheet">
  <div class="tut-container">
    <div id="catcher">
    </div>
    <div id="sticky">
      <div class="sidebar">
      <p><a href="/documentation.html">Tutorials and Documentation</a></p>
        <ul>
          {% for category in page.docs %}
            <li>
              <p><strong>{{ category.top-level }}</strong></p>
              <ul>
                {% for tutorial in category.nested-docs %}
                  <li><a href="/docs/{{ tutorial.site }}">{{ tutorial.nested }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content">
      <div tabindex="-1" id="notebook" class="border-box-sizing">
        <ul>
          <li>
            <div class="container" style="width:70%" id="notebook-container">
              {{ content }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

