---
layout: default
title: Documentation
about: Developer's guide to Flika
---

<body>
<link href="/static/css/notebook.css" rel="stylesheet">
  <div class="tut-container">
    <div id="catcher">
    </div>
    <div id="sticky">
      <div class="sidebar">
      <p><a href="/documentation.html">Tutorials and Documentation</a></p>
        <ul>
          {% for category in site.categories %}
            <li>
              <strong>{{ category | first | capitalize }}</strong>
              <ul>
              {% for tutorials in category %}
                {% for tutorial in tutorials %}
                  <li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
                {% endfor %}
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content">
      <iframe src="/docs_html/{{ page.filename }}" onload="resizeIframe(this)"></iframe>
    </div>
  </div>
</body>
<script type="text/javascript">
  function resizeIframe(obj){
     obj.style.height = 0;
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>
