---
layout: default
title: Documentation
about: Developer's guide to Flika
---

<body>
  <div class="tut-container">
    <div id="catcher">
    </div>
    <div id="sticky">
      <div class="sidebar">
        <ul>
          {% for category in site.categories %}
            <li>
              <strong>{{ category | first | capitalize }}</strong>
              <ul>
              {% for tutorials in category %}
                {% for tutorial in tutorials %}
                  <li><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></li>
                {% endfor %}
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content">
      <div tabindex="-1" id="notebook" class="border-box-sizing">
      <ul>
        {{ content }}
      </ul>
    </div>
    </div>
  </div>
</body>
